body{
    background-color: #efefef;
    margin: 0;
    margin-top: 50px;
    
}
/*
h1{
    color: #ff0000;
}
h3{
    color: #0000ff;
}
#lab{
    color: #00ff00;
}*/
.menu{
    
    margin  : 25px;
    color: dimgray;
    font-family: 'Kanit', sans-serif;
    text-decoration: none ;
    
}

.navigation-bar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;


    display: flex;
    flex-flow: row nowrap; /* ไม่ขึ้นแถวใหม่  */
    align-items: center;
    justify-content: flex-end;/* เริ่มต้นจากจุดสุดท้าย  */

    height: 50px;

    background-color : white;
    
}

.header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    background-color : white;
}

.texts{
    padding: 25px;
}

.texts > .title{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}

.image{
    width: 500px;
}

.objectives{
    list-style-type: none;
    padding: 0;


    text-align: center;
}

.item{
    padding: 15px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

.title{
    padding: 0;
    text-align: center;
    font-size: 36px;
}

.white-section{
    padding: 50px;/* ห่างระหว่างข้อความกับขอบ margin: ห่างแต่ละแผ่น */

    background-color: #ffffff;

}

.lab-lists{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    
}

.lab{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-basis: 300px;
    width: 300px;
    flex-grow: 0;
    text-align: center;
}

.lab > .image{
    width: auto;
    margin-bottom: 25px;
    height: 250px;
}

.lab > .link{ /* > ต่ำกว่า class เดียว */
    font-size: 24px;
    color: gray;
}

.time-table{
    padding: 25px;
    border-style: solid;
    border-width : 1px;
    border-color: #ddd;
    
    width: 100%;
}

.time-table td{ /* > ต่ำกว่าเท่าไหร่ก็ได้แต่ก็เจอ td */
    border: 1px solid #ddd;
    padding: 25px;
}